body {
    background-color: #1a1a1a; /* Цвет фона страницы */
    color: #fff; /* Цвет текста */
}

.navbar {
    background-color: #333; /* Цвет фона навигационной панели */
}

.navbar-nav .nav-link {
    color: #fff; /* Цвет текста ссылок */
}

